  <header style="background: #556ee6;">
    <div class="container">
      <nav class="navbar navbar-main navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <img src="assets/images/logo-icon.png" class="img-fluid mr-3" />
          <%= PAGE_TITLE %>
        </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <a class="nav-link" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu" id="languageItems"></div>
          </li>
          <li class="nav-item ml-3">
            <a class="btn btn-signin" href="<%= DISCORD_LOGIN_URL %>">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="topnav">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item<%= (typeof menuActive != 'undefined' ? (menuActive == 'store' ? ' active' : '') : '') %>">
            <a class="nav-link" href="/store"><i class="far fa-shopping-cart"></i> Loja</a>
          </li>
          <li class="nav-item<%= (typeof menuActive != 'undefined' ? (menuActive == 'support' ? ' active' : '') : '') %>">
            <a class="nav-link" href="/support"><i class="fas fa-headset"></i> Suporte</a>
          
          <li class="nav-item<%= (typeof menuActive != 'undefined' ? (menuActive == 'commands' ? ' active' : '') : '') %>">
            <a class="nav-link" href="/commands"><i class="far fa-list"></i> Comandos</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>