  <header style="background: #556ee6;">
    <div class="container">
      <nav class="navbar navbar-main navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/logo-icon.png" class="img-fluid mr-3" />
          <%= PAGE_TITLE %>
        </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-3">
            <% if(!session){ %>
            <a class="btn btn-signin" href="<%= DISCORD_LOGIN_URL %>">Entrar com Discord</a>
            <% } else { %>
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    <img src="https://cdn.discordapp.com/avatars/<%= session.id %>/<%= session.avatar %>.<%= session.premium_type == 1 ? 'gif' : 'png' %>" class="avatar img-fluid"> <%= session.username %>#<%= session.discriminator %>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/guilds"><i class="far fa-server"></i> Servidores</a>
                    <a class="dropdown-item" href="/profile/<%= session.username %>.<%= session.discriminator %>"><i class="fal fa-user"></i> Perfil</a>
                    <a class="dropdown-item" href="/purchases"><i class="far fa-wallet"></i> Compras</a>
                    <a class="dropdown-item" href="/changelogs"><i class="far fa-sync"></i> Changelog</a>
                    <a class="dropdown-item" href="/settings"><i class="far fa-cog"></i> Configurações</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item logout" href="/logout"><i class="fas fa-power-off"></i> Sair</a>
                  </div>
                </li>
              </ul>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="topnav">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item<%= (typeof menuActive != 'undefined' ? (menuActive == 'store' ? ' active' : '') : '') %>">
            <a class="nav-link" href="/store"><i class="far fa-shopping-cart"></i> Loja</a>
          </li>
          <li class="nav-item<%= (typeof menuActive != 'undefined' ? (menuActive == 'support' ? ' active' : '') : '') %>">
            <a class="nav-link" href="/support"><i class="fas fa-headset"></i> Suporte</a>
          
          <li class="nav-item<%= (typeof menuActive != 'undefined' ? (menuActive == 'commands' ? ' active' : '') : '') %>">
            <a class="nav-link" href="/commands"><i class="far fa-list"></i> Comandos</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>