<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <% if(changelogs.length > 0){ %>
        <% for (changelog of changelogs) { %>
          <div class="card card-changelogs">
            <div class="card-body">
              <h2 class="card-title"><%= changelog.changelog_title %></h2>
              <div class="markdown-box">
                <%- changelog.changelog_content %>
              </div>
            </div>
          </div>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
<%- include('partials/footerbar.ejs') %>
<%- include('partials/footer.ejs') %>