<%- include('partials/header.ejs') %>
  <div class="container-fluid register-form">
    <div class="row no-gutter">
      <div class="col-md-6 d-none d-md-flex bg-image"></div>
      <div class="col-md-6 bg-light">
        <div class="register d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto">
                <div class="display-4 box-logo">
                  <img src="assets/images/logo-icon.png" class="img-fluid mr-1" />
                  <h3 class="logo-title">
                    <%= PAGE_TITLE %>
                  </h3>
                </div>
                <p class="text-muted mb-4 text-center">Crie uma conta para explorar ao máximo.</p>
                <form method="POST" action="/register">
                  <div class="form-group mb-3">
                    <input type="text" name="username" placeholder="Nome de usuário" class="form-control" <%= (filled) ? `value=${filled.username}` : "" %>>
                  </div>
                  <div class="form-group mb-3">
                    <input type="email" name="email" placeholder="E-mail" class="form-control" <%= (filled) ? `value=${filled.email}` : "" %>>
                  </div>
                  <div class="form-group mb-3">
                    <input type="password" name="password" placeholder="Senha" class="form-control">
                  </div>
                  <div class="form-group mb-3">
                    <input type="password"name="confirmpassword" placeholder="Confirme a senha" class="form-control">
                  </div>
                  <%- include('components/alert_auth.ejs') %>
                  <button type="submit" class="btn btn-sign btn-block">Finalizar</button>
                  <div class="link-login">
                    <p>Já tem conta? <a href="/login">Faça login</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer.ejs') %>