          <div class="d-flex flex-row align-items-center">
            <div class="invite-user-photo">
              <img src="<%= session.avatar %>" alt="<%= session.username %>">
            </div>
            <div class="user-profile">
              <div class="username <%= session.role_class %>" id="username"><%= session.username %></div>
              <div class="discriminator" id="discriminator">#<%= session.discriminator %></div>
            </div>
          </div>
          <div class="user-options">
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i></a>
          </div>